Consider the “Academic performance” dataset of students (xAPI-
Edu-Data.csv) and perform the following operations using Python.

Scan all variables for missing values and inconsistencies. If there
are missing values and/or inconsistencies, use any of the suitable
techniques to deal with them.
Scan all numeric variables for outliers. If there are outliers, use any
of the suitable techniques to deal with them.
Apply data transformations on at least one of the variables. The
purpose of this transformation should be one of the following
reasons: to change the scale for better understanding of the
variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal
distribution.
Reason and document your approach properly.

importing libraries and dataset

In [ ]:
import pandas as pd
import numpy as np

dataframe = pd.read_csv('/content/xAPI-Edu-Data.csv')
dataframe.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15.0,16.0,2.0,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20.0,20.0,3.0,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10.0,7.0,0.0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,NaN,5.0,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,50.0,12.0,50,No,Bad,Above-7,M

### Scanning all variables for missing values and inconsistencies

In [ ]:
dataframe.isnull().sum()

gender                       0
NationalITy                  0
PlaceofBirth                 0
StageID                      0
GradeID                      0
SectionID                    0
Topic                       10
Semester                     0
Relation                    15
raisedhands                 20
VisITedResources             4
AnnouncementsView           11
Discussion                   0
ParentAnsweringSurvey        0
ParentschoolSatisfaction     5
StudentAbsenceDays           5
Class                       13
dtype: int64

Checking how null value looks like

missing values in relation table

In [ ]:
bool_series = pd.isnull(dataframe['Relation'])
dataframe[bool_series]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
106,F,KW,KuwaIT,lowerlevel,G-02,B,IT,F,NaN,12.0,26.0,7.0,40,Yes,Good,Under-7,M
111,M,KW,KuwaIT,lowerlevel,G-02,C,IT,F,NaN,77.0,80.0,51.0,80,No,Good,Under-7,M
114,M,KW,KuwaIT,lowerlevel,G-02,B,IT,F,NaN,11.0,2.0,0.0,50,No,Bad,Above-7,L
120,M,KW,KuwaIT,lowerlevel,G-02,C,IT,F,NaN,21.0,12.0,0.0,50,Yes,Good,Under-7,M
126,F,Iran,Iran,lowerlevel,G-02,C,IT,F,NaN,2.0,9.0,7.0,55,Yes,Good,Under-7,M
132,M,KW,KuwaIT,lowerlevel,G-02,C,IT,S,NaN,0.0,3.0,10.0,3,No,Bad,Above-7,NaN
137,F,KW,USA,HighSchool,G-11,A,Quran,F,NaN,60.0,80.0,50.0,40,No,Bad,Under-7,M
143,M,KW,KuwaIT,MiddleSchool,G-07,A,Quran,S,NaN,NaN,90.0,55.0,19,Yes,Good,Under-7,H
148,F,Jordan,Jordan,MiddleSchool,G-07,A,Quran,S,NaN,60.0,55.0,30.0,40,No,Bad,Under-7,M
158,M,Tunis,KuwaIT,MiddleSchool,G-07,B,Science,S,NaN,22.0,51.0,48.0,10,No,Bad,Above-7,NaN
160,F,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,NaN,NaN,89.0,58.0,50,Yes,NaN,Under-7,H
166,M,KW,KuwaIT,lowerlevel,G-02,B,French,S,NaN,NaN,82.0,53.0,43,No,Bad,Under-7,M
177,F,USA,USA,lowerlevel,G-02,B,French,S,NaN,15.0,52.0,83.0,11,Yes,Bad,Under-7,M
184,M,lebanon,lebanon,MiddleSchool,G-08,A,Arabic,S,NaN,10.0,35.0,30.0,13,No,Bad,Above-7,L
194,M,Morocco,Morocco,MiddleSchool,G-08,A,Arabic,S,NaN,53.0,75.0,72.0,23,No,Bad,Under-7,M

missing values in Topic table

In [ ]:
bool_Topic = pd.isnull(dataframe['Topic'])
dataframe[bool_Topic]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
7,M,KW,KuwaIT,MiddleSchool,G-07,A,NaN,F,Father,50.0,10.0,15.0,22,Yes,Good,Under-7,M
14,F,KW,KuwaIT,MiddleSchool,G-08,A,NaN,F,Mum,62.0,70.0,44.0,60,No,Bad,Above-7,H
20,F,KW,KuwaIT,MiddleSchool,G-07,A,NaN,F,Father,60.0,60.0,33.0,90,No,Bad,Above-7,M
24,M,KW,KuwaIT,MiddleSchool,G-07,B,NaN,F,Father,0.0,2.0,3.0,70,Yes,Good,Above-7,L
27,M,KW,KuwaIT,MiddleSchool,G-08,A,NaN,F,Father,25.0,15.0,12.0,33,No,Bad,Above-7,L
29,F,KW,KuwaIT,MiddleSchool,G-08,A,NaN,F,Father,30.0,NaN,33.0,35,No,Bad,Under-7,M
39,F,SaudiArabia,SaudiArabia,MiddleSchool,G-07,B,NaN,F,Father,50.0,NaN,37.0,70,Yes,Good,Under-7,M
47,F,KW,KuwaIT,HighSchool,G-12,A,NaN,F,Mum,NaN,4.0,39.0,90,Yes,Good,Under-7,H
53,F,KW,KuwaIT,HighSchool,G-11,A,NaN,F,Mum,49.0,70.0,NaN,75,Yes,Good,Under-7,H
59,F,USA,USA,MiddleSchool,G-07,A,NaN,F,Father,27.0,22.0,22.0,40,No,Good,Under-7,M

missing values in raisedHands

In [ ]:
bool_raisedHands = pd.isnull(dataframe['raisedhands'])
dataframe[bool_raisedHands]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,NaN,50.0,12.0,50,No,Bad,Above-7,M
15,F,KW,KuwaIT,MiddleSchool,G-06,A,IT,F,Father,NaN,40.0,22.0,66,Yes,Good,Under-7,M
26,M,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,NaN,19.0,25.0,40,Yes,Bad,Under-7,M
47,F,KW,KuwaIT,HighSchool,G-12,A,NaN,F,Mum,NaN,4.0,39.0,90,Yes,Good,Under-7,H
52,F,KW,KuwaIT,HighSchool,G-12,A,English,F,Father,NaN,90.0,16.0,40,No,Bad,Under-7,M
143,M,KW,KuwaIT,MiddleSchool,G-07,A,Quran,S,NaN,NaN,90.0,55.0,19,Yes,Good,Under-7,H
153,M,SaudiArabia,USA,HighSchool,G-11,B,Spanish,S,Father,NaN,51.0,40.0,40,No,Bad,Above-7,L
160,F,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,NaN,NaN,89.0,58.0,50,Yes,NaN,Under-7,H
166,M,KW,KuwaIT,lowerlevel,G-02,B,French,S,NaN,NaN,82.0,53.0,43,No,Bad,Under-7,M
170,M,KW,KuwaIT,lowerlevel,G-02,B,French,S,Father,NaN,62.0,83.0,33,Yes,Good,Under-7,H
175,M,Iran,Iran,lowerlevel,G-02,B,French,S,Father,NaN,2.0,13.0,53,No,Bad,Above-7,NaN
179,M,lebanon,lebanon,lowerlevel,G-02,B,French,S,Mum,NaN,51.0,20.0,33,No,Bad,Under-7,M
192,M,KW,KuwaIT,MiddleSchool,G-08,A,Arabic,S,Mum,NaN,91.0,62.0,53,Yes,Good,Under-7,M
203,F,KW,KuwaIT,MiddleSchool,G-08,B,Arabic,S,Father,NaN,51.0,42.0,40,Yes,Bad,Under-7,M
213,M,Tunis,Tunis,MiddleSchool,G-08,C,Spanish,S,Father,NaN,61.0,22.0,14,No,Bad,Above-7,L
218,M,KW,KuwaIT,MiddleSchool,G-08,C,Spanish,S,Mum,NaN,61.0,42.0,94,Yes,Bad,Under-7,H
222,M,KW,KuwaIT,MiddleSchool,G-08,B,Spanish,S,Father,NaN,61.0,82.0,40,Yes,Bad,Under-7,M
228,M,KW,KuwaIT,HighSchool,G-11,B,Math,S,Mum,NaN,84.0,77.0,81,Yes,Good,Above-7,H
234,M,KW,KuwaIT,MiddleSchool,G-07,B,Science,S,Mum,NaN,60.0,58.0,66,Yes,Good,Above-7,M
236,M,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,Father,NaN,10.0,13.0,6,No,Bad,Above-7,L

missing values in VisITedResources

In [ ]:
bool_VisITedResources = pd.isnull(dataframe['VisITedResources'])
dataframe[bool_VisITedResources]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30.0,NaN,5.0,35,No,Bad,Above-7,L
29,F,KW,KuwaIT,MiddleSchool,G-08,A,NaN,F,Father,30.0,NaN,33.0,35,No,Bad,Under-7,M
39,F,SaudiArabia,SaudiArabia,MiddleSchool,G-07,B,NaN,F,Father,50.0,NaN,37.0,70,Yes,Good,Under-7,M
140,M,Tunis,Tunis,MiddleSchool,G-07,A,Quran,F,Father,10.0,NaN,5.0,20,Yes,Bad,Above-7,L

missing values in AnnouncementsView

In [ ]:
bool_AnnouncementsView = pd.isnull(dataframe['AnnouncementsView'])
dataframe[bool_AnnouncementsView]

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70.0,80.0,NaN,70,Yes,Good,Under-7,M
18,F,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Mum,69.0,15.0,NaN,96,Yes,Good,Under-7,M
28,M,KW,KuwaIT,MiddleSchool,G-08,A,Science,F,Father,75.0,85.0,NaN,43,Yes,Good,Under-7,M
42,M,KW,KuwaIT,HighSchool,G-09,A,IT,F,Father,10.0,12.0,NaN,33,Yes,Good,Above-7,L
48,F,KW,KuwaIT,HighSchool,G-12,A,English,F,Mum,13.0,80.0,NaN,88,Yes,Good,Under-7,H
53,F,KW,KuwaIT,HighSchool,G-11,A,NaN,F,Mum,49.0,70.0,NaN,75,Yes,Good,Under-7,H
58,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,28.0,60.0,NaN,50,Yes,Good,Under-7,M
144,M,KW,KuwaIT,MiddleSchool,G-07,A,Quran,S,Father,10.0,10.0,NaN,19,No,Bad,Above-7,L
155,M,SaudiArabia,USA,HighSchool,G-11,B,Math,S,Father,70.0,58.0,NaN,91,Yes,NaN,Under-7,H
161,M,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,Mum,72.0,80.0,NaN,66,No,Bad,Under-7,M
167,M,Tunis,Tunis,lowerlevel,G-02,B,French,S,Mum,80.0,92.0,NaN,43,Yes,Good,Under-7,H

creating bool varialbe for index with null values

In [ ]:
bool_ParentschoolSatisfaction = pd.isnull(dataframe['ParentschoolSatisfaction'])
bool_StudentAbsenceDays = pd.isnull(dataframe['StudentAbsenceDays'])
bool_Class = pd.isnull(dataframe['Class'])

Dropping null value rows

In [ ]:
datadrop = dataframe.dropna()
datadrop.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

Replacing null values from Relation Table with something

In [ ]:
datareplace = dataframe
datareplace['Relation'] = datareplace['Relation'].replace(to_replace = np.nan, value = 'None')
datareplace[bool_series]
# datareplace.isnull().sum()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
106,F,KW,KuwaIT,lowerlevel,G-02,B,IT,F,None,12.0,26.0,7.0,40,Yes,Good,Under-7,M
111,M,KW,KuwaIT,lowerlevel,G-02,C,IT,F,None,77.0,80.0,51.0,80,No,Good,Under-7,M
114,M,KW,KuwaIT,lowerlevel,G-02,B,IT,F,None,11.0,2.0,0.0,50,No,Bad,Above-7,L
120,M,KW,KuwaIT,lowerlevel,G-02,C,IT,F,None,21.0,12.0,0.0,50,Yes,Good,Under-7,M
126,F,Iran,Iran,lowerlevel,G-02,C,IT,F,None,2.0,9.0,7.0,55,Yes,Good,Under-7,M
132,M,KW,KuwaIT,lowerlevel,G-02,C,IT,S,None,0.0,3.0,10.0,3,No,Bad,Above-7,NaN
137,F,KW,USA,HighSchool,G-11,A,Quran,F,None,60.0,80.0,50.0,40,No,Bad,Under-7,M
143,M,KW,KuwaIT,MiddleSchool,G-07,A,Quran,S,None,NaN,90.0,55.0,19,Yes,Good,Under-7,H
148,F,Jordan,Jordan,MiddleSchool,G-07,A,Quran,S,None,60.0,55.0,30.0,40,No,Bad,Under-7,M
158,M,Tunis,KuwaIT,MiddleSchool,G-07,B,Science,S,None,22.0,51.0,48.0,10,No,Bad,Above-7,NaN
160,F,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,None,NaN,89.0,58.0,50,Yes,NaN,Under-7,H
166,M,KW,KuwaIT,lowerlevel,G-02,B,French,S,None,NaN,82.0,53.0,43,No,Bad,Under-7,M
177,F,USA,USA,lowerlevel,G-02,B,French,S,None,15.0,52.0,83.0,11,Yes,Bad,Under-7,M
184,M,lebanon,lebanon,MiddleSchool,G-08,A,Arabic,S,None,10.0,35.0,30.0,13,No,Bad,Above-7,L
194,M,Morocco,Morocco,MiddleSchool,G-08,A,Arabic,S,None,53.0,75.0,72.0,23,No,Bad,Under-7,M

Replacing non numeric null values with None

In [ ]:
datareplace['Topic'] = datareplace['Topic'].replace(np.nan, 'None')
datareplace['Class'] = datareplace['Class'].replace(np.nan, 'None')
datareplace['ParentschoolSatisfaction'] = datareplace['ParentschoolSatisfaction'].replace(np.nan, 'None')
datareplace['StudentAbsenceDays'] = datareplace['StudentAbsenceDays'].replace(np.nan, 'None')

datareplace.isnull().sum()

gender                       0
NationalITy                  0
PlaceofBirth                 0
StageID                      0
GradeID                      0
SectionID                    0
Topic                        0
Semester                     0
Relation                     0
raisedhands                 20
VisITedResources             4
AnnouncementsView           11
Discussion                   0
ParentAnsweringSurvey        0
ParentschoolSatisfaction     0
StudentAbsenceDays           0
Class                        0
dtype: int64

Filling null values with 0 of columns with numeric data

In [ ]:
datafill = datareplace
datafill.fillna(0, inplace=True)
datafill.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

All numeric colums

In [ ]:
datafill.select_dtypes(np.number)

     raisedhands  VisITedResources  AnnouncementsView  Discussion
0           15.0              16.0                2.0          20
1           20.0              20.0                3.0          25
2           10.0               7.0                0.0          30
3           30.0               0.0                5.0          35
4            0.0              50.0               12.0          50
..           ...               ...                ...         ...
475          5.0               4.0                5.0           8
476         50.0              77.0               14.0          28
477         55.0              74.0               25.0          29
478         30.0              17.0               14.0          57
479         35.0              14.0               23.0          62

[480 rows x 4 columns]

### Scanning and Removing Outliers

**Scanning and removing outliers from raisedhands using IQR technique**

In [ ]:
datafill['raisedhands'].describe()

count    480.000000
mean      44.762500
std       31.676369
min        0.000000
25%       13.750000
50%       43.500000
75%       74.250000
max      100.000000
Name: raisedhands, dtype: float64

In [ ]:
# We can directly take 25% and 75% values from describe() function
# Q1 = 13.750000
# Q3 = 74.250000
Q1 = datafill['raisedhands'].quantile(0.25)
Q3 = datafill['raisedhands'].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - (1.5 * IQR)
upper = Q3 + (1.5 * IQR)

Scanning for Outliers in raisedhands

In [ ]:
# checking if there exists any outliers
datafill[(datafill['raisedhands'] < lower) | (datafill['raisedhands'] > upper)]

Empty DataFrame
Columns: [gender, NationalITy, PlaceofBirth, StageID, GradeID, SectionID, Topic, Semester, Relation, raisedhands, VisITedResources, AnnouncementsView, Discussion, ParentAnsweringSurvey, ParentschoolSatisfaction, StudentAbsenceDays, Class]
Index: []

**Scanning and removing outliers from VisITedResources using IQR technique**

In [ ]:
Q1 = datafill['VisITedResources'].quantile(0.25)
Q3 = datafill['VisITedResources'].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - (1.5 * IQR)
upper = Q3 + (1.5 * IQR)

# checking if there exists any outliers
datafill[(datafill['VisITedResources'] < lower) | (datafill['VisITedResources'] > upper)]

Empty DataFrame
Columns: [gender, NationalITy, PlaceofBirth, StageID, GradeID, SectionID, Topic, Semester, Relation, raisedhands, VisITedResources, AnnouncementsView, Discussion, ParentAnsweringSurvey, ParentschoolSatisfaction, StudentAbsenceDays, Class]
Index: []

**Scanning and removing outliers from AnnouncementsView using IQR technique**

In [ ]:
Q1 = datafill['AnnouncementsView'].quantile(0.25)
Q3 = datafill['AnnouncementsView'].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - (1.5 * IQR)
upper = Q3 + (1.5 * IQR)

# checking if there exists any outliers
datafill[(datafill['AnnouncementsView'] < lower) | (datafill['AnnouncementsView'] > upper)]

Empty DataFrame
Columns: [gender, NationalITy, PlaceofBirth, StageID, GradeID, SectionID, Topic, Semester, Relation, raisedhands, VisITedResources, AnnouncementsView, Discussion, ParentAnsweringSurvey, ParentschoolSatisfaction, StudentAbsenceDays, Class]
Index: []

**Scanning and removing outliers from Discussion using IQR technique**

In [ ]:
Q1 = datafill['Discussion'].quantile(0.25)
Q3 = datafill['Discussion'].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - (1.5 * IQR)
upper = Q3 + (1.5 * IQR)

# checking if there exists any outliers
datafill[(datafill['Discussion'] < lower) | (datafill['Discussion'] > upper)]

Empty DataFrame
Columns: [gender, NationalITy, PlaceofBirth, StageID, GradeID, SectionID, Topic, Semester, Relation, raisedhands, VisITedResources, AnnouncementsView, Discussion, ParentAnsweringSurvey, ParentschoolSatisfaction, StudentAbsenceDays, Class]
Index: []

***There are no outliers in the data***

### Data Transformation

Using Replace

In [ ]:
categorical_dataframe = datafill.select_dtypes(exclude=[np.number])
categorical_dataframe.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,No,Bad,Above-7,M

In [ ]:
categorical_dataframe['SectionID'].value_counts()

A    283
B    167
C     30
Name: SectionID, dtype: int64

In [ ]:
categorical_dataframe['SectionID'].replace({'A': 1, 'B': 2, 'C': 3}, inplace=True)
categorical_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,1,IT,F,Father,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,1,IT,F,Father,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,1,IT,F,Father,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,1,IT,F,Father,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,1,IT,F,Father,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,1,Chemistry,S,Father,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,1,Geology,F,Father,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,1,Geology,S,Father,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,1,History,F,Father,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,1,History,S,Father,No,Bad,Above-7,L

Using Label Encoding

In [ ]:
df_labelEncoding = datafill
data_columns = df_labelEncoding.select_dtypes(exclude=[np.number]).columns
data_columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'ParentAnsweringSurvey',
       'ParentschoolSatisfaction', 'StudentAbsenceDays', 'Class'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
for i in data_columns:
  df_labelEncoding[i] = label_encoder.fit_transform(df_labelEncoding[i])

print("Label Encoded Data: ")
df_labelEncoding

Label Encoded Data:

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,4,4,2,1,0,7,0,0,15.0,16.0,2.0,20,1,1,2,2
1,1,4,4,2,1,0,7,0,0,20.0,20.0,3.0,25,1,1,2,2
2,1,4,4,2,1,0,7,0,0,10.0,7.0,0.0,30,0,0,0,1
3,1,4,4,2,1,0,7,0,0,30.0,0.0,5.0,35,0,0,0,1
4,1,4,4,2,1,0,7,0,0,0.0,50.0,12.0,50,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,0,3,3,1,5,0,2,1,0,5.0,4.0,5.0,8,0,0,0,1
476,0,3,3,1,5,0,5,0,0,50.0,77.0,14.0,28,0,0,2,2
477,0,3,3,1,5,0,5,1,0,55.0,74.0,25.0,29,0,0,2,2
478,0,3,3,1,5,0,6,0,0,30.0,17.0,14.0,57,0,0,0,1
479,0,3,3,1,5,0,6,1,0,35.0,14.0,23.0,62,0,0,0,1

Using One Hot Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder

onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(df_labelEncoding[data_columns])