1. Importing All Required Libraries

In [1]:
import pandas as pd

2. Kaggle Dataset: https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata
3. Loading dataset into dataframe

In [2]:
dataframe = pd.read_csv('/content/tmdb_5000_movies.csv')

In [3]:
dataframe.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,8.806746e+08,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1.084939e+09,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,2.841391e+08,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124.0

4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.

checking for missing values:

In [4]:
dataframe.isnull()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2432,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2433,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2434,False,False,True,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True

getting some initial statistics

In [5]:
dataframe.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,2.435000e+03,2435.000000,2435.000000,2.434000e+03,2434.000000,2434.000000,2434.000000
mean,5.254422e+07,44455.205339,31.388082,1.433724e+08,112.370583,6.167379,1087.672145
std,4.593765e+07,75128.781613,39.568860,2.055057e+08,21.294885,0.870716,1533.436475
min,0.000000e+00,12.000000,0.068228,0.000000e+00,0.000000,0.000000,0.000000
25%,2.400000e+07,6439.500000,11.634237,1.994302e+07,98.000000,5.700000,205.000000
50%,4.000000e+07,11113.000000,22.001408,7.370537e+07,109.000000,6.200000,515.000000
75%,7.000000e+07,43762.000000,39.886537,1.758958e+08,123.000000,6.700000,1302.500000
max,3.800000e+08,417859.000000,875.581305,2.787965e+09,338.000000,9.300000,13752.000000

dimensions of dataset

In [6]:
dataframe.shape

(2435, 20)

variable description and data types

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2435 entries, 0 to 2434
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                2435 non-null   int64
 1   genres                2435 non-null   object
 2   homepage              1009 non-null   object
 3   id                    2435 non-null   int64
 4   keywords              2435 non-null   object
 5   original_language     2435 non-null   object
 6   original_title        2435 non-null   object
 7   overview              2435 non-null   object
 8   popularity            2435 non-null   float64
 9   production_companies  2435 non-null   object
 10  production_countries  2435 non-null   object
 11  release_date          2434 non-null   object
 12  revenue               2434 non-null   float64
 13  runtime               2434 non-null   float64
 14  spoken_languages      2434 non-null   object
 15  status                2434 non-null   object
 16  tagline               2251 non-null   object
 17  title                 2434 non-null   object
 18  vote_average          2434 non-null   float64
 19  vote_count            2434 non-null   float64
dtypes: float64(5), int64(2), object(13)
memory usage: 380.6+ KB

5. Data Formatting and Data Normalization: Summarize the types of variables by checking
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
data set. If variables are not in the correct data type, apply proper type conversions.

Summarize the types of variables by checking the data types

In [8]:
dataframe.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count              float64
dtype: object

Applying proper type conversion

In [11]:
dataframe['homepage'] = dataframe['homepage'].astype('string')
dataframe['original_language'] = dataframe['original_language'].astype('string')
dataframe['original_title'] = dataframe['original_title'].astype('string')
dataframe['overview'] = dataframe['overview'].astype('string')
dataframe['status'] = dataframe['status'].astype('string')
dataframe['tagline'] = dataframe['tagline'].astype('string')
dataframe['title'] = dataframe['title'].astype('string')
dataframe['release_date'] = pd.to_datetime(dataframe['release_date'])

dataframe.dtypes

budget                           int64
genres                          object
homepage                        string
id                               int64
keywords                        object
original_language               string
original_title                  string
overview                        string
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                        float64
runtime                        float64
spoken_languages                object
status                          string
tagline                         string
title                           string
vote_average                   float64
vote_count                     float64
dtype: object

In [12]:
dataframe.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,8.806746e+08,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1.084939e+09,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,2.841391e+08,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124.0

6. Turn categorical variables into quantitative variables in Python In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set

Binary categorical variables (categorical variables with exactly two categories) can be converted into quantitative variables by coding one category as 1 and the other category as 0.

In [25]:
dataframe['released'] = 1 * (dataframe['status'] == 'Released')
dataframe['released']

0          1
1          1
2          1
3          1
4          1
        ...
2430       1
2431       1
2432       1
2433       1
2434    <NA>
Name: released, Length: 2435, dtype: Int64

In [26]:
dataframe['released'].sum()

2434